/**
 * Code All The Things!
 *
 * Project jumpstarter based on the Sprint & CodeIgniter frameworks.
 *
 * @package     DigitalPoetry\CATT\Theme\Bootstrap
 * @author      Jesse LaReaux <jlareaux@gmail.com>
 * @copyright   Copyright (c) 2016, DigitalPoetry (http://digitalpoetry.studio/).
 * @license     http://opensource.org/licenses/MIT MIT License
 * @link        http://codeallthethings.xyz Code All The Things!
 * @version     0.1.0 Shiny Things
 * @filesource  
 */


/*
 * Texception Views
 */

/*
 * Page Content Toolbars.
 */
.content-toolbar {
	display: inline-block;
	margin-bottom: 18px;
}
.content-toolbar + hr {
	clear: both;
	margin-bottom: 0;
}

/*
 * Admin tables.
 */
.table-admin thead tr th {
    line-height: 22px;
}
.table-admin thead tr th,
.table-admin tbody tr th {
    font-size: 13px;
}
.table-admin tbody tr td {
    font-size: 11px;
}
.table-admin tbody tr th,
.table-admin tbody tr td {
    line-height: 16px;
}
.table-admin td.table-actions a {
    font-size: 13px;
}
