/**
 * Code All The Things!
 *
 * Project jumpstarter based on the Sprint & CodeIgniter frameworks.
 *
 * @package     DigitalPoetry\CATT\Theme\Bootstrap
 * @author      Jesse LaReaux <jlareaux@gmail.com>
 * @copyright   Copyright (c) 2016, DigitalPoetry (http://digitalpoetry.studio/).
 * @license     http://opensource.org/licenses/MIT MIT License
 * @link        http://codeallthethings.xyz Code All The Things!
 * @version     0.1.0 Shiny Things
 * @filesource  
 */


/*
 * Google Font
 */
@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");


/*
 * Navbar
 */
#navbar {
    border: 0;
}
#navbar .navbar-brand,
#navbar #user-menu > li > a {
    font-family: 'Lobster', cursive;
}
#navbar .navbar-brand {
    font-size: 20px;
}
#navbar .navbar-brand img {
    float: left;
    margin-top: -11px;
    padding-right: 5px;
}
#navbar #user-menu > li > a {
    font-size: 16px;
}


/*
 * Page Headers
 */
.page-header {
    margin: 0 0 18px 0;
}
.page-header h1,
.page-header h2 {
    margin-top: 10px;
}
.page-header small {
    font-family: 'Lobster', cursive;
}
.page-header + .table {
    margin-top: -21px;
}
.page-header + .table thead {
    border-top: 1px solid #dddddd;
}

/*
 * Content
 */
#main,
#sidebar {
    padding-bottom: 18px;
}


/*
 * Sticky Footer
 */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 41px 0; /* the body bottom margin should match the footer height */
}
#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 41px; /* the body bottom margin should match this height */
    width: 100%;
}


/*
 * Footer Content
 */
#footer {
    background-color: #DDDDDD;
}
#footer .container {
    padding: 12px 0;
}
#footer .text-muted {
    font-family: 'Lobster', cursive;
    margin-bottom: 0;
}


/*
 * Misc
 */
.alert.pass-strength {
    margin-top: 15px;
    margin-bottom: 0;
    padding: 8px 15px;
}
.form-signin .alert.pass-strength {
    margin-top: 0;
    margin-bottom: 15px;
}


/*
 * AJAX loader.
 */
#ajax-loader {
    position: absolute;
    top: 28px;
    left: 50%;
    margin-left: -4em;
    width: auto;
    padding: 0.5em 1em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: none;
}